.App{
    width: 400px;
    height: 555px;
    background: white;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .39);
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    box-sizing: border-box;
    position: relative
}

.NoTaskTitle{
    text-align: center;
    margin: 8px 0;
}

.NoTaskMessage{
    text-align: center;
    margin: 5px 0;
    color: #707070;
}   


@media screen and (max-width: 425px){
    .App{
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        height: 100vh;
    }
}